MONGO_DB_PORT=27017
MONGO_INITDB_ROOT_USERNAME=username # change
MONGO_INITDB_ROOT_PASSWORD=password # change
## LOCAL : replace username, password and dbname
DB_LOCAL=mongodb://username:password@localhost:27017/dbname?authSource=admin
## REMOTE : replace username, password, cluster and dbname by your info 
DB_REMOTE=mongodb+srv://username:password@cluster/dbname